/* Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #212529;
}

/* Header */
.header {
  background-color: #b71c1c; 
  color: #ffffff; 
  font-size: 2rem;
  text-align: center;
  padding: 16px;
  height: 64px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: relative;
}

.back-button {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%); 
  background-color: #ffffff; 
  color: #b71c1c; 
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Container principal */
.p-4 {
  padding: 16px;
}

.bg-background {
  background-color: #fcf59b;
}

.text-foreground {
  color: #212529;
}

.relative {
  position: relative;
}

/* Título */
.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f70820;
}

/* Itens do carrinho */
.item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.item-info {
  flex: 1;
}

.item-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.quantity-value {
  margin: 0 8px;
}

/* Seção de itens do carrinho */
.cart-item {
  background-color: #ffffff; 
  border: 1px solid #ced4da; 
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.cart-item p {
  margin: 0;
}

.cart-item .quantity {
  display: flex;
  align-items: center;
}

/* Formulários */
.input-select,
.input-text {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.input-select:focus,
.input-text:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

/* Resumo */
.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  border-top: 1px solid #ced4da;
  padding-top: 16px;
}

.total {
  font-weight: bold;
  font-size: 1.25rem;
}

.checkout-button {
  background-color: #dc3545;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #c82333;
}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #010101;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 1rem;
}