/* Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #212529;
}

/* Container principal */
.p-4 {
  padding: 16px;
}

.bg-background {
  background-color: #fcf59b;
}

.text-foreground {
  color: #212529;
}

.relative {
  position: relative;
}

/* Header */
.header {
  background-color: #b71c1c;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 16px;
  height: 64px; /* Define a height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Botão Voltar */
.back-button {
  background-color: #ffffff;
  color: #b71c1c;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  left: 16px;
}

/* Título */
.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f70820;
}

/* Itens do carrinho */
.cart-item {
  background-color: #ffffff; 
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-img {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  border-radius: 8px;
}

.item-info {
  flex: 1;
}

.item-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.quantity-value {
  margin: 0 8px;
}

/* Formulários */
.input-select,
.input-text {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Resumo */
.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.total {
  font-weight: bold;
}

.checkout-button {
  background-color: #dc3545;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: #e0e0e0;
  text-align: center;
  padding: 16px;
  font-size: 0.875rem;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: auto; 
}
